@use "@carbon/react";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

.content,
#ReactSimpleImageViewer,
.listItem,
#loginModal {
  /* fade-in */
  -webkit-animation: globalFadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: globalFadein 1s; /* Firefox < 16 */
  -ms-animation: globalFadein 1s; /* Internet Explorer */
  -o-animation: globalFadein 1s; /* Opera < 12.1 */
  animation: globalFadein 1s;
}

@keyframes globalFadein {
  from {
    opacity: 0;
    transform: scale(1.05, 1.05);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.styles-module_wrapper__1I_qj {
  z-index: 3 !important;
}

#loading {
  z-index: 9999;
}
