#navigation {
  width: 4rem;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 15px;
  position: fixed;
  gap: 5px;
  left: 0.5rem;
  bottom: 0.5rem;
  opacity: 0.6;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

#navigation:hover {
  cursor: pointer;
  opacity: 1;
}
